<div class="my-legend">
<div class="title">Total Stops per Precinct, 2003-2011</div>
<div class="scale">
  <ul class="labels">
    <li><span style="rgb(255,247,243);"></span>7,200-28,000</li>
    <li><span style="background:rgb(253,224,221);"></span>28,000-40,000</li>
    <li><span style="background:rgb(252,197,192);"></span>40,000-56,000</li>
    <li><span style="background:rgb(250,159,181);"></span>56,000-78,000</li>
	<li><span style="background:rgb(247,104,161);"></span>78,000-150,000</li>
    <li><span style="background:rgb(221,52,151);"></span>150,000-230,000+</li>
  </ul>
</div>
<div class="source">Source: <a href="http://www.nyc.gov/html/nypd/html/analysis_and_planning/stop_question_and_frisk_report.shtml">NYPD</a></div>
</div>
<style>
  .wax-legend .title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .wax-legend .scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: block;
    }
  .wax-legend .scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .wax-legend ul.labels li span {
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 2px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .wax-legend ul li span {
    display: block;
    margin-left: 0;
    }
  .wax-legend .source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .wax-attribution a,
  .wax-legend a {
    color: #777;
    }
</style>