 <span id="precinct">{{{precinct}}}</span>
 <span id="assaults90">{{{assaults90}}}</span>
 <span id="assaults91">{{{assaults91}}}</span>
 <span id="assaults92">{{{assaults92}}}</span>
 <span id="assaults93">{{{assaults93}}}</span>
 <span id="assaults94">{{{assaults94}}}</span>
 <span id="assaults95">{{{assaults95}}}</span>
 <span id="assaults96">{{{assaults96}}}</span>
 <span id="assaults97">{{{assaults97}}}</span>
 <span id="assaults98">{{{assaults98}}}</span>
 <span id="assaults99">{{{assaults99}}}</span>
 <span id="assaults00">{{{assaults00}}}</span>
 <span id="assaults01">{{{assaults01}}}</span>
 <span id="assaults02">{{{assaults02}}}</span>
 <span id="assaults03">{{{assaults03}}}</span>
 <span id="assaults04">{{{assaults04}}}</span>
 <span id="assaults05">{{{assaults05}}}</span>
 <span id="assaults06">{{{assaults06}}}</span>
 <span id="assaults07">{{{assaults07}}}</span>
 <span id="vcrimes90">{{{vcrimes90}}}</span>
 <span id="vcrimes91">{{{vcrimes91}}}</span>
 <span id="vcrimes92">{{{vcrimes92}}}</span>
 <span id="vcrimes93">{{{vcrimes93}}}</span>
 <span id="vcrimes94">{{{vcrimes94}}}</span>
 <span id="vcrimes95">{{{vcrimes95}}}</span>
 <span id="vcrimes96">{{{vcrimes96}}}</span>
 <span id="vcrimes97">{{{vcrimes97}}}</span>
 <span id="vcrimes98">{{{vcrimes98}}}</span>
 <span id="vcrimes99">{{{vcrimes99}}}</span>
 <span id="vcrimes00">{{{vcrimes00}}}</span>
 <span id="vcrimes01">{{{vcrimes01}}}</span>
 <span id="vcrimes02">{{{vcrimes02}}}</span>
 <span id="vcrimes03">{{{vcrimes03}}}</span>
 <span id="vcrimes04">{{{vcrimes04}}}</span>
 <span id="vcrimes05">{{{vcrimes05}}}</span>
 <span id="vcrimes06">{{{vcrimes06}}}</span>
 <span id="vcrimes07">{{{vcrimes07}}}</span>
 <span id="burg90">{{{burg90}}}</span>
 <span id="burg91">{{{burg91}}}</span>
 <span id="burg92">{{{burg92}}}</span>
 <span id="burg93">{{{burg93}}}</span>
 <span id="burg94">{{{burg94}}}</span>
 <span id="burg95">{{{burg95}}}</span>
 <span id="burg96">{{{burg96}}}</span>
 <span id="burg97">{{{burg97}}}</span>
 <span id="burg98">{{{burg98}}}</span>
 <span id="burg99">{{{burg99}}}</span>
 <span id="burg00">{{{burg00}}}</span>
 <span id="burg01">{{{burg01}}}</span>
 <span id="burg02">{{{burg02}}}</span>
 <span id="burg03">{{{burg03}}}</span>
 <span id="burg04">{{{burg04}}}</span>
 <span id="burg05">{{{burg05}}}</span>
 <span id="burg06">{{{burg06}}}</span>
 <span id="burg07">{{{burg07}}}</span>
 <span id="felonies90">{{{felonies90}}}</span>
 <span id="felonies91">{{{felonies91}}}</span>
 <span id="felonies92">{{{felonies92}}}</span>
 <span id="felonies93">{{{felonies93}}}</span>
 <span id="felonies94">{{{felonies94}}}</span>
 <span id="felonies95">{{{felonies95}}}</span>
 <span id="felonies96">{{{felonies96}}}</span>
 <span id="felonies97">{{{felonies97}}}</span>
 <span id="felonies98">{{{felonies98}}}</span>
 <span id="felonies99">{{{felonies99}}}</span>
 <span id="felonies00">{{{felonies00}}}</span>
 <span id="felonies01">{{{felonies01}}}</span>
 <span id="felonies02">{{{felonies02}}}</span>
 <span id="felonies03">{{{felonies03}}}</span>
 <span id="felonies04">{{{felonies04}}}</span>
 <span id="felonies05">{{{felonies05}}}</span>
 <span id="felonies06">{{{felonies06}}}</span>
 <span id="felonies07">{{{felonies07}}}</span>
 <span id="rape90">{{{rape90}}}</span>
 <span id="rape91">{{{rape91}}}</span>
 <span id="rape92">{{{rape92}}}</span>
 <span id="rape93">{{{rape93}}}</span>
 <span id="rape94">{{{rape94}}}</span>
 <span id="rape95">{{{rape95}}}</span>
 <span id="rape96">{{{rape96}}}</span>
 <span id="rape97">{{{rape97}}}</span>
 <span id="rape98">{{{rape98}}}</span>
 <span id="rape99">{{{rape99}}}</span>
 <span id="rape00">{{{rape00}}}</span>
 <span id="rape01">{{{rape01}}}</span>
 <span id="rape02">{{{rape02}}}</span>
 <span id="rape03">{{{rape03}}}</span>
 <span id="rape04">{{{rape04}}}</span>
 <span id="rape05">{{{rape05}}}</span>
 <span id="rape06">{{{rape06}}}</span>
 <span id="rape07">{{{rape07}}}</span>
 <span id="larceny90">{{{larceny90}}}</span>
 <span id="larceny91">{{{larceny91}}}</span>
 <span id="larceny92">{{{larceny92}}}</span>
 <span id="larceny93">{{{larceny93}}}</span>
 <span id="larceny94">{{{larceny94}}}</span>
 <span id="larceny95">{{{larceny95}}}</span>
 <span id="larceny96">{{{larceny96}}}</span>
 <span id="larceny97">{{{larceny97}}}</span>
 <span id="larceny98">{{{larceny98}}}</span>
 <span id="larceny99">{{{larceny99}}}</span>
 <span id="larceny00">{{{larceny00}}}</span>
 <span id="larceny01">{{{larceny01}}}</span>
 <span id="larceny02">{{{larceny02}}}</span>
 <span id="larceny03">{{{larceny03}}}</span>
 <span id="larceny04">{{{larceny04}}}</span>
 <span id="larceny05">{{{larceny05}}}</span>
 <span id="larceny06">{{{larceny06}}}</span>
 <span id="larceny07">{{{larceny07}}}</span>
 <span id="movtheft90">{{{movtheft90}}}</span>
 <span id="movtheft91">{{{movtheft91}}}</span>
 <span id="movtheft92">{{{movtheft92}}}</span>
 <span id="movtheft93">{{{movtheft93}}}</span>
 <span id="movtheft94">{{{movtheft94}}}</span>
 <span id="movtheft95">{{{movtheft95}}}</span>
 <span id="movtheft96">{{{movtheft96}}}</span>
 <span id="movtheft97">{{{movtheft97}}}</span>
 <span id="movtheft98">{{{movtheft98}}}</span>
 <span id="movtheft99">{{{movtheft99}}}</span>
 <span id="movtheft00">{{{movtheft00}}}</span>
 <span id="movtheft01">{{{movtheft01}}}</span>
 <span id="movtheft02">{{{movtheft02}}}</span>
 <span id="movtheft03">{{{movtheft03}}}</span>
 <span id="movtheft04">{{{movtheft04}}}</span>
 <span id="movtheft05">{{{movtheft05}}}</span>
 <span id="movtheft06">{{{movtheft06}}}</span>
 <span id="movtheft07">{{{movtheft07}}}</span>
 <span id="murder90">{{{murder90}}}</span>
 <span id="murder91">{{{murder91}}}</span>
 <span id="murder92">{{{murder92}}}</span>
 <span id="murder93">{{{murder93}}}</span>
 <span id="murder94">{{{murder94}}}</span>
 <span id="murder95">{{{murder95}}}</span>
 <span id="murder96">{{{murder96}}}</span>
 <span id="murder97">{{{murder97}}}</span>
 <span id="murder98">{{{murder98}}}</span>
 <span id="murder99">{{{murder99}}}</span>
 <span id="murder00">{{{murder00}}}</span>
 <span id="murder01">{{{murder01}}}</span>
 <span id="murder02">{{{murder02}}}</span>
 <span id="murder03">{{{murder03}}}</span>
 <span id="murder04">{{{murder04}}}</span>
 <span id="murder05">{{{murder05}}}</span>
 <span id="murder06">{{{murder06}}}</span>
 <span id="murder07">{{{murder07}}}</span>
 <span id="propcrime90">{{{propcrime90}}}</span>
 <span id="propcrime91">{{{propcrime91}}}</span>
 <span id="propcrime92">{{{propcrime92}}}</span>
 <span id="propcrime93">{{{propcrime93}}}</span>
 <span id="propcrime94">{{{propcrime94}}}</span>
 <span id="propcrime95">{{{propcrime95}}}</span>
 <span id="propcrime96">{{{propcrime96}}}</span>
 <span id="propcrime97">{{{propcrime97}}}</span>
 <span id="propcrime98">{{{propcrime98}}}</span>
 <span id="propcrime99">{{{propcrime99}}}</span>
 <span id="propcrime00">{{{propcrime00}}}</span>
 <span id="propcrime01">{{{propcrime01}}}</span>
 <span id="propcrime02">{{{propcrime02}}}</span>
 <span id="propcrime03">{{{propcrime03}}}</span>
 <span id="propcrime04">{{{propcrime04}}}</span>
 <span id="propcrime05">{{{propcrime05}}}</span>
 <span id="propcrime06">{{{propcrime06}}}</span>
 <span id="propcrime07">{{{propcrime07}}}</span>
 <span id="robbery90">{{{robbery90}}}</span>
 <span id="robbery91">{{{robbery91}}}</span>
 <span id="robbery92">{{{robbery92}}}</span>
 <span id="robbery93">{{{robbery93}}}</span>
 <span id="robbery94">{{{robbery94}}}</span>
 <span id="robbery95">{{{robbery95}}}</span>
 <span id="robbery96">{{{robbery96}}}</span>
 <span id="robbery97">{{{robbery97}}}</span>
 <span id="robbery98">{{{robbery98}}}</span>
 <span id="robbery99">{{{robbery99}}}</span>
 <span id="robbery00">{{{robbery00}}}</span>
 <span id="robbery01">{{{robbery01}}}</span>
 <span id="robbery02">{{{robbery02}}}</span>
 <span id="robbery03">{{{robbery03}}}</span>
 <span id="robbery04">{{{robbery04}}}</span>
 <span id="robbery05">{{{robbery05}}}</span>
 <span id="robbery06">{{{robbery06}}}</span>
 <span id="robbery07">{{{robbery07}}}</span>
 <span id="stop_03">{{{stop_03}}}</span>
 <span id="stop_04">{{{stop_04}}}</span>
 <span id="stop_05">{{{stop_05}}}</span>
 <span id="stop_06">{{{stop_06}}}</span>
 <span id="stop_07">{{{stop_07}}}</span>
 <span id="stop_08">{{{stop_08}}}</span>
 <span id="stop_09">{{{stop_09}}}</span>
 <span id="stop_10">{{{stop_10}}}</span>
 <span id="stop_11">{{{stop_11}}}</span>
 <span id="sumis_03">{{{sumis_03}}}</span>
 <span id="sumis_04">{{{sumis_04}}}</span>
 <span id="sumis_05">{{{sumis_05}}}</span>
 <span id="sumis_06">{{{sumis_06}}}</span>
 <span id="sumis_07">{{{sumis_07}}}</span>
 <span id="sumis_08">{{{sumis_08}}}</span>
 <span id="sumis_09">{{{sumis_09}}}</span>
 <span id="sumis_10">{{{sumis_10}}}</span>
 <span id="sumis_11">{{{sumis_11}}}</span>
 <span id="arest_03">{{{arest_03}}}</span>
 <span id="arest_04">{{{arest_04}}}</span>
 <span id="arest_05">{{{arest_05}}}</span>
 <span id="arest_06">{{{arest_06}}}</span>
 <span id="arest_07">{{{arest_07}}}</span>
 <span id="arest_08">{{{arest_08}}}</span>
 <span id="arest_09">{{{arest_09}}}</span>
 <span id="arest_10">{{{arest_10}}}</span>
 <span id="arest_11">{{{arest_11}}}</span>
 <span id="stop_at">{{{stop_at}}}</span>
 <span id="sumis_at">{{{sumis_at}}}</span>
 <span id="arest_at">{{{arest_at}}}</span>
 <span id="black">{{{black}}}</span>
 <span id="bl_hisp">{{{bl_hisp}}}</span>
 <span id="wh_hisp">{{{wh_hisp}}}</span>
 <span id="white">{{{white}}}</span>
 <span id="all_hisp">{{{all_hisp}}}</span>
 <span id="bl+hisp">{{{bl+hisp}}}</span>
 <span id="race_o_u">{{{race_o_u}}}</span>
 <span id="male">{{{male}}}</span>
 <span id="female">{{{female}}}</span>
 <span id="sex_unk">{{{sex_unk}}}</span>
 <span id="age_q1">{{{age_q1}}}</span>
 <span id="age_q2">{{{age_q2}}}</span>
 <span id="age_q3">{{{age_q3}}}</span>
 <span id="age_q4">{{{age_q4}}}</span>
 <span id="age_q5">{{{age_q5}}}</span>
 <span id="age_unk">{{{age_unk}}}</span>
 <span id="weapon">{{{weapon}}}</span>
 <span id="inside">{{{inside}}}</span>
 <span id="outside">{{{outside}}}</span>
 <span id="unifo">{{{unifo}}}</span>
 <span id="no_unifo">{{{no_unifo}}}</span>

