<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Stop and Frisk</title>
    <link href="{{base}}/all.css" rel="stylesheet" type="text/css" />

    <script src="{{base}}/js/ext/jquery/jquery-1.7.2.min.js"></script>
    <script src="{{base}}/js/ext/highcharts/js/highcharts.js"></script>    

    <!-- MapBox Libraries -->
    <script src="{{base}}/js/ext/modestmaps-js/modestmaps.min.js"></script>
    <script src="{{base}}/js/ext/easey/src/easey.js"></script>
    <script src="{{base}}/js/ext/easey/src/easey.handlers.js"></script>
    <script src="{{base}}/js/ext/wax/dist/wax.mm.min.js"></script>

   </head>
  <body>

    <header>
      <div class="layout clearfix">
        <h3>Stop and Frisk</h3>
      </div>

    </header>
	<div id="content">
	{{ content }}
	</div>

  </body>

</html>
